.DS_Store
._*
*.o
*.elf
*.hex
*.exe
/*.xcodeproj/project.xcworkspace/xcuserdata
examples/*/*/Makefile*
examples/*/*/opendevice.*
examples/*/opendevice.*
examples/*/firmware/usbdrv
examples/*/firmware/usbconfig.h
examples/*/firmware/osccal.*
examples/*/commandline/hiddata.*
examples/*/commandline/hidsdi.h
examples/hid-custom-rq/commandline
examples/custom-class/commandline/set-led
examples/drivertest/commandline/runtest
examples/hid-data/commandline/hidtool
examples/usbtool/usbtool
tests/sizes.txt
tests/usbdrv
